html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: yellow;
  }

  #navbar {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-list {
    list-style-type: none;
    text-decoration: none;

  }
  .list-items {
    display: inline-block;
    padding: 0 15px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #002333;
  }

  .aartha {
      padding: 8px 12px;
      border: none;
      border-radius: 5px;
      background-color: #58fca4;
      color: #002333;
      cursor: pointer;
      font-weight: 500;

  }

  .aartha:hover {
      background-color: #002333;
      color: #84ffbd;

  }


  .site-logo {
    display: flex;
  }
  .main-logo {
    max-width: 66px;
    max-height: 66px;
  }


  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 4rem;
    color: #002333;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;

  }

  .main-container-content {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      margin-top: 4rem;
      color: #002333;
      width: 80%;
      margin: 0 auto;
      border-radius: 5px;
      padding: 88px 0;
    }



  .title {
    margin: 0 0 0rem;
    font-weight: 600;
    font-size: clamp(2rem, 4vw, 3rem);
    font-family: "Inter", sans-serif;
    word-wrap: break-word;
    line-height: 1em;
    text-align: center;
    width: 70%;
  }

  .hero-intro {
    font-size: clamp(1.5rem, 1vw, 1rem);
    line-height: 1.5;
    color: #3a4649;
    font-weight: lighter;
    word-wrap: break-word;
    line-height: 1.4;
    margin-top: 2rem;
    text-align: center;
    width: 70%;
  }



  .focus-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 4rem;
    color: #002333;
    margin: 0 auto;
    width: 100%;
    background-color: aqua;
  }

  .focus-features {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    padding: 1rem;

  }

  .main-container-hero {

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 4rem;
    color: #002333;
    max-width: 1300px;
    margin: 1rem auto;
    width: 100%;
    background-color: beige;

  }

  .main-container-content-left {
    display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      margin-top: 4rem;
      color: #002333;
      width: 50%;
      margin: 0 auto;
      border-radius: 5px;
      padding: 88px 0;


  }

  .main-container-content-right {
    display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      margin-top: 4rem;
      color: #002333;
      width: 50%;
      margin: 0 auto;
      border-radius: 5px;
      padding: 88px 0;


  }

  footer {
    background-color: #f1f6f4;
    margin-top: 5rem;
  }

  .footer-items-heading {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.43;
  color: #03314B;
  margin: 0 0 0.5rem;
  }

  .footer-items {
    align-items: flex-start;
    text-align: left;
    color: #002333;
    padding: 0;
  }

  .footer-links {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 50;
    list-style-type: none;
    color: black;
  }

  .footer-items a {
    align-items: flex-start;
    color: #9fa4a9;
    padding: 0;
    text-decoration: none;
    font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57;
  font-family: "Inter", sans-serif;
  }

  .feature-list-footer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      margin: 1rem;
      flex: 1 1;
      border-radius: 5px;
      font-size: 0.875rem;
      padding: 15px;
      text-align: left;
      justify-content: space-between;

    }

    .main-feature-container-footer {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }
    .main-logo-footer {
      max-width: 250px;
    }

    .slider {

      width: 75%;
      margin: auto;
      overflow: hidden;
      border-radius: 10px;
      position: relative;


    }

    .slides {
      display: flex;
      height: 500px;
      width: 100%;
    }

#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 2%;
  font-size: 30px;
  cursor: pointer;
  color: white;


}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 2%;
  font-size: 30px;
  cursor: pointer;
  color: white;
}



