html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #fcfcfc;
    max-width: 100%;
  }

  #navbar {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-list {
    list-style-type: none;
    text-decoration: none;

  }
  .list-items {
    display: inline-block;
    padding: 0 15px;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #002333;
  }

  .aartha {
      padding: 10px 16px;
      border: none;
      border-radius: 5px;
      background-color: #58fca4;
      color: #002333;
      cursor: pointer;
      font-weight: 500;

  }

  .aartha:hover {
      background-color: #002333;
      color: #84ffbd;

  }


  .site-logo {
    display: flex;
  }

  .main-logo {
    max-width: 66px;
    max-height: 66px;
  }

  /*---------------------------------------------------------------------------*/

  .content-landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;


  }
  .main-container-landing {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 4rem;
    color: #002333;
    max-width: 1200px;

}

.landing-feature-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 4rem;
    color: #002333;
    max-width: 1200px;
    flex-direction: row;

}

.feature-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    flex: 1 1;
    border-radius: 5px;
    font-size: 0.875rem;
    padding: 15px;
    text-align: center;
    position: relative;
    font-family: "Inter", sans-serif;

  }


.feature-icon {
    max-width: 70px;
    margin-bottom: 1rem;
}

.feature-intro-para {
    font-size: clamp(1rem, 1.5vw, 2rem);
  line-height: 1.4;
  color: #3a4649;
  font-weight: lighter;
  word-wrap: break-word;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  margin-top: 2rem;

}

/*-------------------------------------------------------------------------*/


  .main-feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    background-color: #e4eaff;
    border-radius: 5px;
    margin-top: 4rem;
    color: #002333;
    max-width: 1150px;
  }


  .signup-content {
    padding: 1rem 4rem;
    border: none;
    background-color: white;
    color: #335eea;
    border: 1px solid #335eea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
  }



  .signup-content:hover {
    padding: 1rem 4rem;
    border: none;
    background-color: #335eea;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  .signup {
    padding: 1rem 4rem;
    border: none;
    background-color: #335eea;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
  }



    /*---------------------------------------------------------------------------*/

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-top: 4rem;
    color: #002333;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .main-container-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      margin-top: 4rem;
      color: #002333;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      background-color: #e4eaff;
      border-radius: 5px;
    }


  .main-section-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: flex-start;
    min-width: 400px;
    flex: 1 1;
    font-weight: 500;
    margin-bottom: auto;
    padding: 2.5rem;
  }

  a button {
    cursor: pointer;
  }

  .title {
    margin: 0 0 0rem;
    font-weight: 600;
    line-height: 0.8;
    font-size: clamp(2rem, 4vw, 3rem);
    font-family: "Inter", sans-serif;
    word-wrap: break-word;
    line-height: 1em;
  }

  .hero-intro {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    line-height: 1.4;
    color: #3a4649;
    font-weight: lighter;
    word-wrap: break-word;
    line-height: 1.4;
    margin-top: 2rem;
  }

  .content-socialtag {
    color: #335eea;
  }

  .main-section-right {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    min-width: 400px;
    min-height: 400px;
    padding: 2.5rem;
  }

  .hero-image {

    max-height: 400px;
    min-width: 200px;
  }


  /*---------------------------------------------------------------------------*/

  footer {
    background-color: #f1f6f4;
    margin-top: 5rem;
  }

  .footer-items-heading {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.43;
  color: #03314B;
  margin: 0 0 0.5rem;
  }

  .footer-items {
    align-items: flex-start;
    text-align: left;
    color: #002333;
    padding: 0;
  }

  .footer-links {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 50;
    list-style-type: none;
    color: black;
  }

  .footer-items a {
    align-items: flex-start;
    color: #9fa4a9;
    padding: 0;
    text-decoration: none;
    font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57;
  font-family: "Inter", sans-serif;
  }

  .feature-list-footer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      margin: 1rem;
      flex: 1 1;
      border-radius: 5px;
      font-size: 0.875rem;
      padding: 15px;
      text-align: left;
      justify-content: space-between;

    }

    .main-feature-container-footer {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
      }
      .main-logo-footer {
        max-width: 250px;
      }

/*---------------------------------------------------------------------------*/