section {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem 1.5rem;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.faq-title {
  font-size: 1.6rem;
}

.faq {
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 16px;
}
.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    tansform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
