html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fcfcfc;
  max-width: 100%;
  font-family: "Inter", sans-serif;
}

header {
  background-color: white;
}

#navbar {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.nav-list {
  list-style-type: none;
  text-decoration: none;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

.list-items {
  display: inline-block;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #002333;
}

.aartha {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #58fca4;
  color: #002333;
  cursor: pointer;
  font-weight: 500;
}

.aartha:hover {
  background-color: #002333;
  color: #84ffbd;
}

.site-logo {
  display: flex;
}
.main-logo {
  max-width: 66px;
  max-height: 66px;
}

/*--------------------------------------------------------------*/

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 6rem;
  color: #002333;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.5rem;
}

.main-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  font-weight: 500;
  margin-bottom: auto;
  text-align: left;
}

.title {
  margin: 0 0 0rem;
  font-weight: 800;
  font-size: 60px;
  font-family: "Inter", sans-serif;
  word-wrap: break-word;
  color: #000;
  line-height: 1.1em;
  letter-spacing: -0.035em;
  width: 100%;
}

.hero-intro {
  font-size: 20px;
  color: #373737;
  word-wrap: break-word;
  margin-top: 2rem;
  line-height: 1.4em;
  font-family: "Inter", sans-serif;
}

.signup {
  padding: 1rem 4rem;
  border: none;
  background-color: #335eea;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 2rem;
}

a button {
  cursor: pointer;
}

.main-section-right {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.hero-image {
  max-width: 550px;
}

/*--------------------------------------------------------------*/
.main-feature {
  margin-top: 10rem;
}

.main-feature-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 0 5rem;
}

/*----------------------------------------------------------------------------*/

.features {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.feature-list {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6rem, 0.1vw, 1rem);
  text-align: center;
}

.feature-intro {
  display: flex;
  flex-wrap: wrap;
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  word-wrap: break-word;
  line-height: 1.4;
  color: #03314b;
  padding: 0 5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  align-items: center;
  justify-content: center;
}

.feature-intro-p {
  font-size: 18px;
  line-height: 1.4em;
  color: #3a4649;
  font-weight: 400;
  word-wrap: break-word;
  font-family: "Inter", sans-serif;
}

.feature-intro-para {
  font-size: 18px;
  line-height: 1.4;
  color: #3a4649;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-top: 2rem;

}
.mark {
  display: inline-block;
  background: linear-gradient(180deg, transparent 45%, #e6fc88 0);
  font-weight: 700;
  color: #3a4649;
}

.feature-icon {
  max-width: 70px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 38px;
  margin: 0;
}

h3 {

  font-size: 25px;

}

/*--------------------------------------------------------------------------*/
.learning-topics-wrapper {
  margin-top: 5rem;
}

.learning-topics {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f1f6f4;
  text-align: center;
}

.topics-names {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}

.topics-names a {
  text-decoration: none;
  align-items: flex-start;
  color: #202224;
  padding: 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.57;
  font-family: "Inter", sans-serif;
}

.topic-categories {
  display: inline-block;
  list-style-type: none;
  align-items: center;
  width: auto;
  padding: 10px 18px;
  margin: 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  line-height: 1.4em;
  color: #03314b;
  font-weight: 400;
}


/*--------------------------------------------------------------------------*/

.speaker-wrapper {
  margin-top: 5rem;
}
.speaker-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 5rem;
  margin-right: auto;
  margin-left: auto;
}
.speakers-intro {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.43;
  color: #03314b;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.speaker-bio {
  align-items: flex-start;
  text-align: left;
  color: #9fa4a9;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57;
  font-family: "Inter", sans-serif;
}

.feature-list-speakers {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 1rem;
  flex: 1;
  border-radius: 5px;
  font-size: 0.875rem;
  text-align: left;
  position: relative;
  font-family: "Inter", sans-serif;
}

.speaker-icon {
  max-width: 200px;
}

.speaker-social {
  max-width: 20px;
}


.feature-list-speakers-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 1rem;
  flex: 1 1;
  border-radius: 5px;
  font-size: 0.875rem;
  padding: 15px;
  text-align: left;
  position: relative;
  font-family: "Inter", sans-serif;
}

/*-----------------------------------------------------------------------------*/
.main-container-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 4rem;
  color: #002333;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e4eaff;
  border-radius: 5px;
  padding: 1.5rem;
}

.content-title {
  margin: 0 0 0rem;
  font-weight: 600;
  line-height: 1.4em;
  word-wrap: break-word;
}

.hero-intro-content {
  font-size: 18px;
  color: #3a4649;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 1rem;
  line-height: 1.4em;
}

.hero-image-insights {
  max-width: 400px;
}

/*-------------------------------------------------------------------------------------*/

footer {
  background-color: #f1f6f4;
  margin-top: 5rem;
}

.site-info {
  font-size: 0.875rem;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.43;
  color: #03314b;
  margin-top: 2px;
}

.footer-items-heading {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.43;
  color: #03314b;
  margin: 0 0 0.5rem;
}

.footer-items {
  align-items: flex-start;
  text-align: left;
  color: #002333;
  padding: 0;
}

.footer-links {
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 50;
  list-style-type: none;
  color: black;
}

.footer-items a {
  align-items: flex-start;
  color: #9fa4a9;
  padding: 0;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57;
  font-family: "Inter", sans-serif;
}

.feature-list-footer-1 {

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem 4rem 1rem 0;
  flex: 1;
  border-radius: 5px;
  font-size: 0.875rem;
  padding: 15px;
  text-align: left;

}


.feature-list-footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  flex: 1;
  border-radius: 5px;
  font-size: 0.875rem;
  padding: 15px;
  text-align: left;
}

.main-feature-container-footer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.main-logo-footer {
  max-width: 250px;
  margin-bottom: 1rem;
}


/*-----------------------------------------------------------------------------*/

@media screen and (max-width: 1160px) {
  .title {
    font-size: 50px;
  }

  .hero-intro {
    font-size: 18px;
  }

  .hero-image {
    max-width: 450px;
  }
}

@media screen and (max-width: 931px) {
  .title {
    font-size: 40px;
  }

  .hero-intro {
    font-size: 16px;
  }
  .hero-image {
    max-width: 380px;
  }

  .speaker-container {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .main-container {
    padding: 0 1rem;
    flex-direction: column;
  }

  .feature-intro {
    padding: 0;
  }



  .list-items {
    padding: 5px 0;
  }

  .nav-list {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }

  .nav-list.show {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .hamburger {
    display: block;
  }

  .main-feature-container {
    padding: 0 1rem;
  }

  .features {
    flex-direction: column;
  }

  .main-section-right {
    align-items: center;
    padding: 0;
    margin-top: 6rem;
  }

  .main-section-left {
    align-items: center;
    text-align: center;
  }

  .hero-image {
    max-width: 300px;
  }

  .title {
    font-size: 30px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {

    font-size: 15px;

  }

  .hero-image-insights {
    max-width: 300px;
  }


}
